{% extends 'base.html' %}
{% load static %}
{% block content%}
 <!-- header -->
 <header id="header" class="header h-fullscreen__page text-light animate__animated animate__fadeInUp">
    <div class="media-container parallax-window" data-parallax="scroll" style="background-image: url(/static/assets/img/bg/bg-2.jpg);"></div>
    <div class="overlay bg-dark_A-60"></div>
    <div class="overlay d-flex align-items-center">
      <div class="container text-center">
        <div class="row align-items-center">
          <div class="col-lg-6 mx-auto">
            <div class="fadeIn ad-500ms">
              <h1 class="mb-6">About us</h1>
              <p class="lead-lg mb-7">At GamesParadise, we believe that gaming is more than just a hobby—it's a way of life. Our dedicated team of gaming experts is passionate about delivering top-notch products and exceptional customer service. We carefully curate our collection to offer a diverse range of titles across various platforms, ensuring there's something for everyone.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </header>
<body class="page-body">
  <main class="main-content animate__animated animate__fadeInUp">
    <!-- /.header -->
      <!-- content area -->
      <section class="content-section text-center text-light parallax-window position-relative" data-parallax="scroll" style="background-image: url(/static/assets/img/bg/bg-4.jpg);">
        <div class="overlay bg-dark_A-80 pe-n"></div>
        <div class="container">
          <div class="row">
            <div class="col-lg-8 mx-auto">
              <h2 class="mb-6">What we do.</h2>
              <hr class="w-10 border-top-2 my-6 my-xl-7 border-warning">
              <p class="lead-1">At GamesParadise, we are passionate about gaming and committed to providing an exceptional gaming experience. We curate a diverse selection of top-quality games, offer high-performance gaming accessories, provide the latest gaming consoles, foster a thriving gaming community, and deliver outstanding customer service. </p>
            </div>
          </div>
        </div>
      </section>
    </main>
    <!-- /.content area -->
  
     <!-- content area -->
     <div class="about-features content-section bp-c br-n bs-c" style="background-image: url(/static/assets/img/bg/bg_a.jpg)" data-overlay="8">
      <div class="container-fluid text-center">
        <div class="row gutters-y">
          <div class="col-md-6 col-lg-3 mb-6 mb-lg-0">
            <div class="display-4 mb-6 text-warning">
              <i class="fas fa-users"></i>
            </div>
            <div class="d-block counter-total lh-1 fw-600 mb-3">102K</div>
            <span class="lead-1 fw-600 text-uppercase">Total Players</span>
          </div>
          <div class="col-md-6 col-lg-3 mb-6 mb-lg-0">
            <div class="display-4 mb-6 text-warning">
              <i class="fas fa-trophy"></i>
            </div>
            <div class="d-block counter-total lh-1 fw-600 mb-3">30</div>
            <span class="lead-1 fw-600 text-uppercase">Won awards</span>
          </div>
          <div class="col-md-6 col-lg-3 mb-6 mb-md-0">
            <div class="display-4 mb-6 text-warning">
              <i class="fas fa-heart"></i>
            </div>
            <div class="d-block counter-total lh-1 fw-600 mb-3">70k</div>
            <span class="lead-1 fw-600 text-uppercase">Happy Players</span>
          </div>
          <div class="col-md-6 col-lg-3">
            <div class="display-4 mb-6 text-warning">
              <i class="fas fa-globe-americas"></i>
            </div>
            <div class="d-block counter-total lh-1 fw-600 mb-3">54</div>
            <span class="lead-1 fw-600 text-uppercase">Countries</span>
          </div>
        </div>
      </div>
    </div>
    <!-- /.content area -->
</body>
 

{% endblock content%}